body{
    background: linear-gradient(to left, #07f9a2, #0a8967)  ;
    /*background: #383845;*/
    background-repeat: no-repeat; /*so that the background does not repeat over and over again*/
    background-attachment: fixed;
    margin:0;
    padding:0;
}
.label{
    font-family:anta;
    font-size:2.5vw;
    /*color:#c7c7b5;*/
    color:#0d192b;
    margin:5px;
}       
#header{
    height:5vw;
    width:auto;
    /*background-color:#12122b;*/
    background-color:#0c5149;
    border-radius: 20px;
    position:sticky;
    top:0px;
}
#title{
    /*color:#aaaa91;*/
    color:white;
    font-family:"Press Start 2P";
    font-size:2.5vw;
    position:absolute;
    top:1.5vw;
    left:1vw;
}
#name{
    color: white;
    font-family:"anta";
    font-size:1vw;
    position: absolute;
    right: 5vw;
    top: 3vw;
}
