body{
    background: linear-gradient(to right, rgb(60, 0, 128), purple)  ;
    background-repeat: no-repeat; /*so that the background does not repeat over and over again*/
    background-attachment: fixed;
    margin:0;
    padding:0;
}
.label{
    font-family:anta;
    font-size:2.5vw;
    color:white
}       
#header{
    height:50px;
    width:auto;
    background-color:rgb(78, 22, 124);
}
#title{
    color:white;
    font-family:"Press Start 2P";
    font-size:2.5vw;
    position:absolute;
    top:5px;
    left:5px;
}
#name{
    color: white;
    font-family:"anta";
    position: absolute;
    left: 70vw;
    top:1.5vw;
}
